.accordion-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
    color: #1a1a1a;
  }
  .accordion-header span{
    font-size: 30px;
  }
  .accordion-header:hover {
    background-color: #e2e2e2;
  }
  
  .accordion-content {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    color: #1a1a1a;
  }
  